#button-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#reset-button {
    border-radius: 1rem;
    font-size: 2rem;
}

#container {
    width: 55rem;;
    height: 55rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inner-container {
    display: flex;
    flex-grow: 1;
}

.squares {
    background-color: cadetblue;
    margin: 0.1rem;
    flex-grow: 1;
}

.hover {
    background-color: coral;
}