#button-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#reset {
    border-radius: 1rem;
    font-size: 2rem;
}

#container {
    display: flex;
    justify-content: center;
}

.squares {
    background-color: cadetblue;
    height: 3rem;
    width: 3rem;
    margin: 0.1rem;
}

.hover {
    background-color: coral;
}